@tailwind components;
@tailwind utilities;

* {
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 0;
}

body {
  @apply tw-text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}
